@import '../../mixin.scss';

.detailsBanner {
    padding-top: 100px;
    margin-bottom: 100px;

    .backdrop-img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.1;

        .lazy-load-image-background {
            width: 100%;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: 25px;

        @include md {
            gap: 50px;
            flex-direction: row;
        }

        .left {
            .poster-img {
                height: auto;
                width: 100%;

                @include md {
                    width: 350px;
                }
            }
        }

        .right {
            color: white;

            .title {
                font-size: 28px;
                line-height: 40px;

                @include md {
                    font-size: 34px;
                    line-height: 44px;
                }
            }

            .subtitle {
                font-size: 16px;
                line-height: 24px;
                margin-bottom: 15px;
                font-style: italic;
                opacity: 0.5;

                @include md {
                    font-size: 20px;
                    line-height: 28px;
                }
            }
            .overview {
                margin-bottom: 25px;
                .heading {
                    font-size: 24px;
                    margin-bottom: 10px;
                }
                .description {
                    line-height: 24px;
                    @include md {
                        padding-right: 100px;
                    }
                }
            }
            .info {
                border-bottom: 1px solid rgba(255, 255, 255, 0.1);
                padding: 15px 0;
                display: flex;
                .infoItem {
                    margin-right: 10px;
                    display: flex;
                    flex-flow: row wrap;
                }
                .text {
                    margin-right: 10px;
                    opacity: 0.5;
                    line-height: 24px;
                    &.bold {
                        font-weight: 600;
                        opacity: 1;
                    }
                }
            }
        }
    }
}