.menu-container{
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
    align-items: center;
    position: fixed;
    .links{
        display: flex;
        gap: 30px;
        .link{
            list-style: none;
            color: white;
        }
    }
}